.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
.character-card {
    background-color: #d0d5d8; 
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    overflow: hidden; 
    margin: 20px; 
    width: 220px; /* Fixed width for the card */
    height: 450px; /* Decreased height for the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
    text-align: center; /* Center text and images */
    position: relative; /* For absolute positioning of overlays */
    cursor: pointer; /* Pointer cursor to indicate interactiveness */
  }
  
  .character-card:hover {
    transform: scale(1.05); /* Slightly zoom in on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Darker shadow on hover */
    background-color: #f9f9f9; /* Slightly different background color on hover */
  }
  
  .image-container {
    width: 100%; 
    height: 180px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #d0d5d8;; 
    position: relative; 
    overflow: hidden;
  }
  
  .character-image {
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 5px solid #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .character-info {
    padding: 15px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    background-color: #f9f9f9; 
    border-top: 1px solid #e0e0e0; 
    height: calc(100% - 180px); 
    box-sizing: border-box;
  }
  
  .character-name {
    font-size: 20px; 
    font-weight: 600; 
    margin: 10px 0; 
    color: #74727b; 
  }
  
  .character-details {
    width: 100%; 
  }
  
  .detail-item {
    background-color: hsla(208, 19%, 85%, 0.605);
    border: 1px solid #524e4e;
    border-radius: 8px; 
    padding: 10px; 
    margin: 6px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    transition: background-color 0.3s ease;
  }
  
  .detail-item:hover {
    background-color:  #84b7ec;;
  }
  
  .detail-item .label {
    font-weight: 500;
    color: #555555;
    text-transform: capitalize; 
  }
  
  .detail-item .value {
    color: #222222; 
    font-size: 14px; 
  }
  